.invalid-feedback{
    display: block !important;
}

canvas{
    width: 250px !important;
}

#navbarprin{
    background: url(../img/navbar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
}

#divimglog{
    background: url(../img/login.jpg);
}
#divimgreg{
    background: url(../img/register.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}